/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End Meyer reset*/




body{
    padding: 0 15px 20px 15px;
    background-color: #a0b5a0;
} /*10px shadow! on table*/

table.result {
    border-collapse: collapse;
    border-spacing: 0;
    /*	width:94%;
            height:100%;*/
    margin:0px auto;padding:0px;
    box-shadow: 10px 10px 5px #888888;
}

.result tr:nth-child(odd){ background-color:#d0d0d0; }
.result tr:nth-child(even){ background-color:#ffffff; }

.result td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:3px 6px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}

.result tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #009fff 100%);	
    background: -o-linear-gradient(top,#005fbf,#009fff);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #009fff) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #009fff 100% );	
    background-color:#005fbf;
    padding-top: 5px;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 0px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}

.result tr:first-child td:first-child{
    border-left-width: 1px;
    border-left-color: #005fbf;
}
.result tr:first-child td:last-child{
    border-right-width: 1px;
    border-right-color: #005fbf;
}

.result tr td:first-child{
    border-left-width: 1px;
}

/*.result tr:first-child td:first-child{
    border-left-width: 0px;
}*/


/*  Following .result tr td.class statements should be moved to internal style sheet 
    in main page to handle name changes in ods sheet*/
table.result tr td.Klubb,
table.result tr td.Förnamn, 
table.result tr td.Efternamn,
table.result tr td.SWE{
    text-align: left;
}
table.result tr td{min-width: 25px;}
table.result tr td.StNr{min-width: 30px;}
table.result tr td.Grp{min-width: 25px;} 
table.result tr td.Klubb{min-width: 95px;}
table.result tr td.Förnamn{min-width: 62px;} 
table.result tr td.Efternamn{min-width: 76px;}
table.result tr td.SWE{min-width: 41px;}
table.result tr td.Klass{min-width: 38px;}
table.result tr td.TOT{min-width: 33px;}



h1 {
    font-size:24px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
    text-align: center;
    margin: 25px 0 5px 0
}

h1.result {
    font-size:18px;
}

a h1{
    color:#0000FF
}

table.result tr:last-child td{
    /*border-bottom: 1px;*/
    border-bottom-color: #b0b0b0;
}

table.result tr td:last-child{
    /*border-right: 1px;*/
    border-right-color: #b0b0b0;
}

table.result tr td:first-child{
    /*border-left: 1px;*/
    border-left-color: #b0b0b0;
}
